// Sidebar

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background-color: var(--background-clr);
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.2), 3px 0 5px var(--shadow-clr);

  // ANimations
  -webkit-animation: slide-in-left getAnimationDuration(0.5s)
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left getAnimationDuration(0.5s)
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  //
  .sidebar-link {
    display: block;
    padding: 1rem;
    border-left: 0.8rem solid transparent;
    margin-bottom: 1rem;
    color: var(--text-clr);
    transition: all 0.35s ease-in-out;

    display: flex;
    // flex-direction: column;
    // justify-content: center;
    align-items: center;
    // font-weight: bold;
    font-size: 1.8rem;

    // Animations
    -webkit-animation: swing-in-top-fwd getAnimationDuration(0.5s)
      cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: swing-in-top-fwd getAnimationDuration(0.5s)
      cubic-bezier(0.175, 0.885, 0.32, 1.275) both;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: #{$i * 0.3s};
      }
    }
    //

    &.active {
      border-color: var(--primary-clr);
    }
    &:hover {
      border-color: var(--primary-clr);
      background-color: rgba(0, 0, 0, 0.05);
    }

    svg {
      width: 2rem;
      margin-right: 0.8rem;
    }
  }
}
