:root {
  --background-clr: #fff;
  --background-light: #fff;
  --shadow-clr: rgba(0, 0, 0, 0.2);
  --primary-clr: #ff0056;
  --text-clr: #0a0a0a;
  --text-light: #575757;
  --font-size: 1.6rem;
  --animation-speed: 1;
}

@function getAnimationDuration($duration: number) {
  @return calc($duration * var(--animation-speed));
}

@import "partials/animations";

@import "./components/navbar";

@import "./components//sidebar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--font-size);
  font-family: "Ubuntu", sans-serif;
}
a {
  text-decoration: none;
}

.container {
  padding-inline: 15vw;
}
main {
  padding-block: 4rem;
}

.hero-section {
  display: flex;
  align-items: center;

  .col {
    width: 50%;
  }

  .title {
    color: var(--text-clr);
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .info {
    color: var(--text-light);
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    line-height: 1.4;
    margin-bottom: 1rem;
  }

  .btn {
    border: none;
    outline: none;
    background-color: var(--primary-clr);
    color: #fff;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 3px 9px var(--shadow-clr);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.35s ease-in-out;

    &:hover {
      box-shadow: 0 1px 3px var(--shadow-clr);
      background-color: darken($color: #ff0056, $amount: 5);
    }
  }
}

// Media query

@media screen and (max-width: 768px) {
  .navbar {
    .nav-links {
      display: none;
    }
    .sidebar-btn {
      display: block;
    }
  }
}
