:root {
  --background-clr: #fff;
  --background-light: #fff;
  --shadow-clr: rgba(0, 0, 0, 0.2);
  --primary-clr: rgba(255, 0, 86);
  --text-clr: #0a0a0a;
  --text-light: #575757;
  --font-size: 1.6rem;
  --animation-speed: 1;
}

@function getAnimationDuration($duration: number) {
  @return calc($duration * var(--animation-speed));
}

@import "partials/animations";

@import "./components/navbar";

@import "./components//sidebar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--font-size);
  font-family: "Ubuntu", sans-serif;
}
a {
  text-decoration: none;
}

.container {
  padding-inline: 15vw;
}

// Media query

@media screen and (max-width: 768px) {
  .navbar {
    .nav-links {
      display: none;
    }
    .sidebar-btn {
      display: block;
    }
  }
}
